<header>
  <div>
    <a href="/">Book store</a>
  </div>

  <nav>
    <ul>
      <li>
        <a href="/books">Browse book</a>
      </li>
      <li>
        <a href="/new-book">create book</a>
      </li>
    </ul>
  </nav>
</header>
