<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>

  <body>
    <%- include('includes/header') %>
    <main>
      <h3>error on the cant find the page!</h3>
    </main>
  </body>
</html>
